<footer>
    <div class="footer-info sticky-bottom">
        <div class="footer-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="footer-info-brand"> &copy; Student Canteen Pvt Ltd</div>
        <div class="footer-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>