<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2" >
            <h3>menu details</h3>
        </div> 
    <div class="card col-6 offset-3">
    <img src="<%= menu.image.url %>" class="card-img-top show-img" alt="menuItem_image">
  <div class="card-body">
    <p class="card-text">
    <%= menu.name %> <br>
    <li> &#8377;<%= menu.price.toLocaleString("en-IN") %></li><br>
    <button class="btn btn-success ">Add</button>
    </p>
  </div>
</div>
</div>
</body>
